PORT=3001

# Konfigurasi Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_auth
DB_USER=root
DB_PASS=''

# Konfigurasi JWT
JWT_SECRET= 71805cb9ca4cc762c7eadce49d7ed84abfe8b91cfbd91b03b3d10be9d799153d
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Konfigurasi GitHub OAuth
GITHUB_CLIENT_ID=Ov23liUnUNv9yKvQ0gQm
GITHUB_CLIENT_SECRET=b5308aebe8d52a62438cbf03753657ad64cf69b8
GITHUB_CALLBACK_URL=http://localhost:3001/api/auth/oauth/github/callback

# URL Frontend setelah login OAuth berhasil
FRONTEND_URL=http://localhost:3000