PORT=3001

# Konfigurasi Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_auth
DB_USER=root
DB_PASS=''

# Konfigurasi JWT
JWT_SECRET=supersecretjwtkey_minimal32karakter
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refreshsecretkey_minimal32karakter
JWT_REFRESH_EXPIRES_IN=7d

# Konfigurasi GitHub OAuth
GITHUB_CLIENT_ID=ajaib
GITHUB_CLIENT_SECRET=ajaib
GITHUB_CALLBACK_URL=http://localhost:3001/api/auth/oauth/github/callback

# URL Frontend setelah login OAuth berhasil
FRONTEND_URL=http://localhost:3000
